<footer>
    <div class="footer-content">
      <p class="footer-description">
        Thank you for supporting our cause! For more information, visit us or get in touch:
      </p>
      <p class="footer-contact">
        Turtle Shelter Project, PO Box 382, Kaysville, UT 84037 | 
        801-872-3190 | 
        turtleshelterproject@gmail.com
      </p>
      <div class="footer-socials">
        <a href="https://facebook.com" target="_blank" class="social-link">
          <img src="facebook-icon.png" alt="Facebook" class="social-icon">
        </a>
        <a href="https://instagram.com" target="_blank" class="social-link">
          <i src="instagram-icon.png" alt="Instagram" class="social-icon">
</svg></a></div>
        </a>
      </div>
    </div>
  </footer>
  