<footer>
    <div class="footer-content">
      <p class="footer-contact">
        Turtle Shelter Project, PO Box 382, Kaysville, UT 84037 | 
        801-872-3190 | 
        <a href="mailto:turtleshelterproject@gmail.com">turtleshelterproject@gmail.com</a>
      </p>
      <div class="footer-socials">
        <a href="https://www.facebook.com/turtleshelterproject" target="_blank" class="social-link">
          <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="https://www.youtube.com/@turtleshelterproject7915" target="_blank" class="social-link">
          <i class="fa-brands fa-youtube"></i>
        </a>
        <a href="https://www.instagram.com/turtleshelterproject/" target="_blank" class="social-link">
          <i class="fa-brands fa-instagram"></i>
        </a>
      </div>
    </div>
  </footer>