<!-- Landing Page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title><%= title%></title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
</head>
    <body>
        <%- include('partials/header') %>
        <div class="headerImg">
            <img src="images/TSP Home.jpg" alt="">
            <div class="blackTint"></div>
            <h1 class="headerImgHeader">Turtle Shelter Project</h1>
        </div>
        <main>
            <div class="intro">
                <p class="intro-text">
                    What is a turtle shelter vest? A high tech but simple solution to help save lives -
                    a portable "shelter" you can carry with you, just like a turtle...
                    and <b>YOU</b> can help!
                </p>
                <p class="turtle-shelter-explanation">
                    One winter when Jen was homeless, 7 of her friends froze to death. <br><br> 
                    Jen is no longer homeless and has figured out a solution:
                    The Turtle Shelter is a high tech, low-cost foam vest to keep a person warm 10 degrees below zero. Help <b>SAVE</b> lives and alleviate suffering.
                    <b>YOU</b> can request vests for your community - and you can make vests and invite your friends, business colleagues, church congregation or club too! 
                </p>
            </div>
        </main>
        <%- include('partials/footer') %>
</body>
</html>
