<!-- Sponsors -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
  <title><%= title%></title>
</head>
  <body>
    <%- include('../partials/header') %>
    <main>
      <h1>Sponsors</h1>     
        <!-- Sponsor Logo and Links -->
        <div class="sponsor-logos">
          <div class="sponsor-item">
            <a href="https://www.designsourceslc.com" target="_blank">
              <img src="../images/Design+Source.png" alt="Design Source Logo">
              <p>Design Source</p>
            </a>
          </div>
          <div class="sponsor-item">
            <a href="https://www.cheneybrothers.com" target="_blank">
              <img src="../images/cheney+brothers+construction.png" alt="Cheney Brothers Construction Logo">
              <p>Cheney Brothers Construction</p>
            </a>
          </div>
          <div class="sponsor-item">
            <a href="https://www.goodshepherdogden.org" target="_blank">
              <img src="../images/Episcopal+Church+Ogden.png" alt="Episcopal Church Logo">
              <p>Episcopal Church</p>
            </a>
          </div>
          <div class="sponsor-item">
            <a href="https://www.futurefoam.com" target="_blank">
              <img src="../images/Future+Foam+Logo.png" alt="Future Foam Logo">
              <p>Future Foam</p>
            </a>
          </div>
          <div class="sponsor-item">
            <a href="https://www.givemeachanceutah.org" target="_blank">
              <img src="../images/GMAC.png" alt="GMAC Logo">
              <p>Give Me a Chance Utah</p>
            </a>
          </div>
          <div class="sponsor-item">
            <a href="https://www.softminkyblankets.com" target="_blank">
              <img src="../images/image1.jpg" alt="Minky Logo">
              <p>Soft Minky Blankets</p>
            </a>
          </div>
          <div class="sponsor-item">
            <a href="https://www.owfinc.com" target="_blank">
              <img src="../images/Outdoor+Wilderness+Fabrics+Logo.png" alt="Outdoor Wilderness Fabrics Logo">
              <p>Outdoor Wilderness Fabrics</p>
            </a>
          </div>
        </div>
    </main>
  </body>
</html>    